<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>NightWalker Confirmation Email</title>
    
  </head>

  <body bgcolor="#efe1b0" style="margin: 0; padding: 0;">

    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#efe1b0">
      <tr>
        <td style="padding: 10px 20px 0 30px; border-left: 1px solid #dbc064; border-right: 1px solid #dbc064; border-top: 1px solid #dbc064;">

          <table class="container" width="640" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top" class="logo" bgcolor="#ffffff" style="padding: 10px 20px 0 30px; border-left: 1px solid #dbc064; border-right: 1px solid #dbc064; border-top: 1px solid #dbc064;">
                <a href="http://www.google.com"><img src="http://placehold.it/350x150" alt="Placeholder Image" width="350" height="150" border="0"></a>
              </td>
            </tr>

            <tr>
              <td valign="top" class="headline" bgcolor="#ffffff" style="padding: 10px 20px 0 30px; border-left: 1px solid #dbc064; border-right: 1px solid #dbc064; border-top: 1px solid #dbc064;">
                <h1 style="margin: 0px;">Congratulations on your purchase</h1>
              </td>

              <td valign="top" style="padding: 10px 20px 0 30px; border-left: 1px solid #dbc064; border-right: 1px solid #dbc064; border-top: 1px solid #dbc064;">
                <p>
                  Hey, #FIRSTNAME #LASTNAME
                </p>
                <p>
                  Your tracking code is #TRACKINGCODE
                </p>
                <p>
                  Your order number is #ORDERNUMBER
                </p>
              </td>
            </tr>
        </table>

      </td>
    </tr>
  </table>

  </body>

</html>
