<div class="container">

  <div ng-repeat="item in items">
    <div class="image-details">
      <img src="http://placehold.it/100x100" alt="{{item.shortDescription}}" title="{{item.shortDescription}}">
      <div class="short-details">
        <p>
          {{item.product.description}}
        </p>

        <p>
          {{item.product.currentPrice / 100 | currency}}
        </p>

        <p>
          {{item.product.sizes.waistSize}} x {{item.product.sizes.inseam}}
        </p>

        <p>
          Quantity <span>{{item.quantity}}</span>
        </p>
      </div>
    </div>

    <div class="button-holder">
      <button class="ui-button" ng-click="updateCart(true, item)">Add one</button>
      <button class="ui-button" ng-click="updateCart(false, item)">Remove one</button>
      <button class="ui-button" ng-click="updateCart(false, item, true)">Remove All</button>
    </div>

  </div>

</div>
