<header>
    <h1>
        <a ng-href='/'><img src="../images/nw_logo.jpg" alt="NightWalker Clothing" title="Men's Chinos and clothing"></a>
    </h1>
    <div class="status">
        <p ng-show="!user.loggedIn">
            Welcome to NightWalker 
            <a ng-href='/signup'>Join</a>
            <a ng-href='/login'>Sign In</a>
        </p>
        <p ng-show="user.loggedIn">
            <span>Welcome {{user.firstName}}</span>
            <span ng-click="logout()">Not You?</span>
            <span><a ng-href='/cart'>Cart here</a></span>
            <span><a ng-href='/checkout'>Checkout</a></span>
            <span><a ng-href='/account'>Your Account</a></span>
        </p>
    </div>
</header>