<h1>
    <a ng-href='/'>NightWalker</a>
</h1>
<div>
<p>
    You are currently {{user.loggedIn}}
</p>

    <span ng-show="user.loggedIn">
        <span class='cart login'><a ng-href='/cart'>Cart here</a></span>
        <span>|</span>
        <span class='login'><a ng-href='/checkout'>Checkout</a></span>
    </span>
    <span ng-show="!user.loggedIn">
        <span class='login'><a ng-href='/login'>Sign In</a></span>
        <span>|</span>
        <span class='login'><a ng-href='/signup'>Join</a></span>
    </span>
    
</div>