<div ng-click="showModalCart()">
  <!-- Cart Wrap -->
  <div class="wrap">
    <div class="cart-cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="words">{{user.cart.length || 0}}</div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>

  <!-- Cart -->
  <div id="modal-cart" ng-show="modalCart">
    <!-- User is signed in -->
    <div ng-show="user.loggedIn">
      <!-- No items in cart -->
      <div ng-show="!user.cart.length">
        <p>
          Your cart is empty. Would you like to:
        </p>
        <a ng-href="/account">
          <p>
            View Account?
          </p>
        </a>
      </div>

      <!-- Items in cart -->
      <div ng-show="user.cart.length">
        You have {{user.cart.length}} items in your cart. Would you like to:
        <a ng-href="/checkout">
          <p>
            Check out?
          </p>
        </a>
        <a ng-href="/account">
          <p>
            View Cart?
          </p>
        </a>
        <a ng-href="/account">
          <p>
            View Account?
          </p>
        </a>
        <a ng-click="logout()">
          <p>
            Logout?
          </p>
        </a>
      </div>
    </div>
   
    <!-- User is not signed in -->      
    <div ng-show="!user.loggedIn">
      <!-- No items in cart -->
      <div ng-show="!user.cart.length">
        <p>
          Welcome, would you like to:
        </p>
        <a ng-href="/login">
          <p>
            Log in?
          </p>
        </a>
        <a ng-href="/create-account">
          <p>
            Create an Account?
          </p>
        </a>
        <a ng-href="/shop">
          <p>
            Shop
          </p>
        </a>
      </div>
      
      <!-- Items in cart -->  
      <div ng-show="user.cart.length">
        <p>
          You have {{user.cart.length}} items in your cart. Would you like to:
        </p>
        <a ng-href="/checkout">
          <p class="checkout-options">
            Check out as a guest?
          </p>
        </a>
      <a ng-href="/cart">
        <p class="checkout-options">
          View your cart?
        </p>
      </a>
      <a ng-href="/login">
        <p class="checkout-options">
          Sign in?
        </p>
      </a>
      <a ng-href="/create-account">
        <p class="checkout-options">
          Create an account?
        </p>
     </a>
    </div>
  </div>
</div>
