<div ng-click="showModalCart()">

  <!-- Cart Wrap -->
  <div class="wrap">
    <div class="cart-cube">
      <div class="front"></div>
      <div class="back"></div>
      <div class="words">{{user.cart.length || 0}}</div>
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>

  <!-- Cart -->
  <div id="modal-cart" class="cart-container" ng-show="modalCart">
    <!-- User is signed in -->
    <div ng-show="user.firstName">
      <!-- No items in cart -->
      <div ng-show="!user.cart.length">
        <p>
          Your cart is empty
        </p>
        <a ng-href="/account" class="modal-cart">
          <p>
            View Account
          </p>
        </a>
      </div>

      <!-- Items in cart -->
      <div ng-show="user.cart.length">
        You have {{user.cart.length}} items in your cart
        <a ng-href="/checkout" class="modal-cart">
          <p>
            Check out
          </p>
        </a>
        <a ng-href="/account" class="modal-cart">
          <p>
            View Cart
          </p>
        </a>
        <a ng-href="/account" class="modal-cart">
          <p>
            View Account
          </p>
        </a>
        <a ng-click="logout()">
          <p>
            Logout
          </p>
        </a>
      </div>
    </div>
   

    <!-- User is not signed in -->      
    <div ng-show="!user.firstName">
      <!-- No items in cart -->
      <div ng-show="!user.cart.length">
        <p>
          Welcome to NightWalker
        </p>

        <a ng-href="/login" class="modal-cart">
          <p>
            Log in
          </p>
        </a>

        <a ng-href="/create-account" class="modal-cart">
          <p>
            Create an Account
          </p>
        </a>

        <a ng-href="/shop" class="modal-cart">
          <p>
            Shop
          </p>
        </a>
      </div>
      
      <!-- Items in cart -->  
      <div ng-show="user.cart.length">
        <p>
          You have {{user.cart.length}} items in your cart
        </p>

        <a ng-href="/checkout" class="modal-cart">
          <p class="checkout-options">
            Check out as a guest
          </p>
        </a>

        <a ng-href="/cart" class="modal-cart">
          <p class="checkout-options">
            View your cart
          </p>
        </a>

        <a ng-href="/login" class="modal-cart">
          <p class="checkout-options">
            Sign in
          </p>
        </a>

        <a ng-href="/create-account" class="modal-cart">
          <p class="checkout-options">
            Create an account
          </p>
        </a>

      </div>

  </div>
</div>
