<div>
    This is the signup form
</div>
<form ng-submit="signup(username, password, firstName, lastName, email)">
    <input type="text" ng-model="username">Username<br>
    <input type="text" name="the big password" ng-model="password">Password <br>
    <input type="text" ng-model="firstName"> First Name<br>
    <input type="text" ng-model="lastName"> Last Name<br>
    <input type="text" ng-model="email"> Email<br>
    <button>Submit</button>
</form>
<br>
<p ng-click="hasAccount = !hasAccount">
    Or login?
</p>
<p>By signing up you agree to our Terms and conditions (don't worry, we are cool)</p>