<table id="size-chart" class="hidden">

  <caption>
    <p>No Vanity Sizing</p>
    <p> Nightwalker's sizes reflect the actual size they are</p>
  </caption>
  
  <tr>
    <th>Listed Size</th>
    <th>Waist</th>
    <th>Inseam</th>
    <th>Outseam</th>
    <th>Rise</th>
    <th>Knee</th>
    <th>Leg Opening</th>
    <th>Pocket Opening</th>
    <th>Pocket Depth</th>
  </tr>
  
  <tr ng-repeat="eachSize in product.sizeInformation">
    <td>{{eachSize['Listed Size']}}</td>
    <td>{{eachSize['Waist']}}</td>
    <td>{{eachSize['Inseam']}}</td>
    <td>{{eachSize['Outseam']}}</td>
    <td>{{eachSize['Rise']}}</td>
    <td>{{eachSize['Knee']}}</td>
    <td>{{eachSize['Leg Opening']}}</td>
    <td>{{eachSize['Pocket Opening']}}</td>
    <td>{{eachSize['Pocket Depth']}}</td>    
  </tr>
  
</table>  

