<div id="table-holder" class="display-none modal table-holder">
  <table id="size-chart">
    <caption>
      <h1>NightWalker does not use "Vanity Sizing"</h1>
      <p> Nightwalker's sizes reflect real measurements</p>
    </caption>
    <tr>
      <th scope="col">Listed Size</th>
      <th scope="col">Waist</th>
      <th scope="col">Inseam</th>
      <th scope="col">Front Rise</th>
    </tr>
    <tr ng-repeat="eachSize in product.sizeInformation">
      <td>{{eachSize['Listed Size']}}</td>
      <td>{{eachSize['Waist']}}</td>
      <td>{{eachSize['Inseam']}}</td>
      <td>{{eachSize['Front Rise']}}</td>
    </tr>
    <tr>
      <td colspan="5">
        <p class="sizing-copy">
          NightWalker believes very strongly in accurate sizing information.
          We do not practice "vanity sizing", so the measurements here are the actual, measured sizes
        </p>
        <img class="sizing-guide" src="images/size_guide.svg">
      </td>
    </tr>
    <tr>
      <th scope="col">Listed Size</th>    
      <th scope="col">Thigh</th>
      <th scope="col">Knee</th>
      <th scope="col">Leg Opening</th>
    </tr>
    <tr ng-repeat="eachSize in product.sizeInformation">
      <td>{{eachSize['Listed Size']}}</td>    
      <td>{{eachSize['Thigh']}}</td>
      <td>{{eachSize['Knee']}}</td>
      <td>{{eachSize['Leg Opening']}}</td>
    </tr>
  </table>
  
  <button class="close size-guide" ng-click="toggleShow('#table-holder')">&#10005</button>
  
</div>

