[Unit]
Description=NightWalker Service
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=PORT=80
ExecStart=/usr/bin/node /mnt/nightwalker/server/bin/www.js

[Install]
WantedBy=multi-user.target
