[Unit]
Description=NightWalker Server Service
After=network.target nightwalker_mongod.service

[Service]
Restart=always
RestartSec=10
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /mnt/nightwalker/server/bin/www.js

[Install]
WantedBy=multi-user.target
