[Unit]
Description=Mongod instance for NightWalker
After=network.target

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/mongod --config /mnt/nightwalker/database/mongod.conf

[Install]
WantedBy=multi-user.target
