/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/

$apple_gallery_name = 'apple-gallery';
$apple_gallery_x = 0px;
$apple_gallery_y = 0px;
$apple_gallery_offset_x = 0px;
$apple_gallery_offset_y = 0px;
$apple_gallery_width = 1230px;
$apple_gallery_height = 2000px;
$apple_gallery_total_width = 4920px;
$apple_gallery_total_height = 4000px;
$apple_gallery_image = '../images/sprites/front_sprites.jpg';
$apple_gallery = 0px 0px 0px 0px 1230px 2000px 4920px 4000px '../images/sprites/front_sprites.jpg' 'apple-gallery';
$cherry_gallery_name = 'cherry-gallery';
$cherry_gallery_x = 1230px;
$cherry_gallery_y = 0px;
$cherry_gallery_offset_x = -1230px;
$cherry_gallery_offset_y = 0px;
$cherry_gallery_width = 1230px;
$cherry_gallery_height = 2000px;
$cherry_gallery_total_width = 4920px;
$cherry_gallery_total_height = 4000px;
$cherry_gallery_image = '../images/sprites/front_sprites.jpg';
$cherry_gallery = 1230px 0px -1230px 0px 1230px 2000px 4920px 4000px '../images/sprites/front_sprites.jpg' 'cherry-gallery';
$electricity_gallery_name = 'electricity-gallery';
$electricity_gallery_x = 2460px;
$electricity_gallery_y = 0px;
$electricity_gallery_offset_x = -2460px;
$electricity_gallery_offset_y = 0px;
$electricity_gallery_width = 1230px;
$electricity_gallery_height = 2000px;
$electricity_gallery_total_width = 4920px;
$electricity_gallery_total_height = 4000px;
$electricity_gallery_image = '../images/sprites/front_sprites.jpg';
$electricity_gallery = 2460px 0px -2460px 0px 1230px 2000px 4920px 4000px '../images/sprites/front_sprites.jpg' 'electricity-gallery';
$gray_gallery_name = 'gray-gallery';
$gray_gallery_x = 3690px;
$gray_gallery_y = 0px;
$gray_gallery_offset_x = -3690px;
$gray_gallery_offset_y = 0px;
$gray_gallery_width = 1230px;
$gray_gallery_height = 2000px;
$gray_gallery_total_width = 4920px;
$gray_gallery_total_height = 4000px;
$gray_gallery_image = '../images/sprites/front_sprites.jpg';
$gray_gallery = 3690px 0px -3690px 0px 1230px 2000px 4920px 4000px '../images/sprites/front_sprites.jpg' 'gray-gallery';
$nectarine_gallery_name = 'nectarine-gallery';
$nectarine_gallery_x = 0px;
$nectarine_gallery_y = 2000px;
$nectarine_gallery_offset_x = 0px;
$nectarine_gallery_offset_y = -2000px;
$nectarine_gallery_width = 1230px;
$nectarine_gallery_height = 2000px;
$nectarine_gallery_total_width = 4920px;
$nectarine_gallery_total_height = 4000px;
$nectarine_gallery_image = '../images/sprites/front_sprites.jpg';
$nectarine_gallery = 0px 2000px 0px -2000px 1230px 2000px 4920px 4000px '../images/sprites/front_sprites.jpg' 'nectarine-gallery';
$plum_crazy_gallery_name = 'plum-crazy-gallery';
$plum_crazy_gallery_x = 1230px;
$plum_crazy_gallery_y = 2000px;
$plum_crazy_gallery_offset_x = -1230px;
$plum_crazy_gallery_offset_y = -2000px;
$plum_crazy_gallery_width = 1230px;
$plum_crazy_gallery_height = 2000px;
$plum_crazy_gallery_total_width = 4920px;
$plum_crazy_gallery_total_height = 4000px;
$plum_crazy_gallery_image = '../images/sprites/front_sprites.jpg';
$plum_crazy_gallery = 1230px 2000px -1230px -2000px 1230px 2000px 4920px 4000px '../images/sprites/front_sprites.jpg' 'plum-crazy-gallery';
$powder_gallery_name = 'powder-gallery';
$powder_gallery_x = 2460px;
$powder_gallery_y = 2000px;
$powder_gallery_offset_x = -2460px;
$powder_gallery_offset_y = -2000px;
$powder_gallery_width = 1230px;
$powder_gallery_height = 2000px;
$powder_gallery_total_width = 4920px;
$powder_gallery_total_height = 4000px;
$powder_gallery_image = '../images/sprites/front_sprites.jpg';
$powder_gallery = 2460px 2000px -2460px -2000px 1230px 2000px 4920px 4000px '../images/sprites/front_sprites.jpg' 'powder-gallery';
$proton_powder_gallery_name = 'proton-powder-gallery';
$proton_powder_gallery_x = 3690px;
$proton_powder_gallery_y = 2000px;
$proton_powder_gallery_offset_x = -3690px;
$proton_powder_gallery_offset_y = -2000px;
$proton_powder_gallery_width = 1230px;
$proton_powder_gallery_height = 2000px;
$proton_powder_gallery_total_width = 4920px;
$proton_powder_gallery_total_height = 4000px;
$proton_powder_gallery_image = '../images/sprites/front_sprites.jpg';
$proton_powder_gallery = 3690px 2000px -3690px -2000px 1230px 2000px 4920px 4000px '../images/sprites/front_sprites.jpg' 'proton-powder-gallery';
$spritesheet_width = 4920px;
$spritesheet_height = 4000px;
$spritesheet_image = '../images/sprites/front_sprites.jpg';
$spritesheet_sprites = $apple_gallery $cherry_gallery $electricity_gallery $gray_gallery $nectarine_gallery $plum_crazy_gallery $powder_gallery $proton_powder_gallery;
$spritesheet = 4920px 4000px '../images/sprites/front_sprites.jpg' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($spritesheet_sprites) {
  for $sprite in arguments {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
