/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$apple_name = 'apple';
$apple_x = 0px;
$apple_y = 0px;
$apple_offset_x = 0px;
$apple_offset_y = 0px;
$apple_width = 360px;
$apple_height = 870px;
$apple_total_width = 1800px;
$apple_total_height = 1740px;
$apple_image = '../images/sprites/homepage_sprites.jpg';
$apple = 0px 0px 0px 0px 360px 870px 1800px 1740px '../images/sprites/homepage_sprites.jpg' 'apple';
$cherry_name = 'cherry';
$cherry_x = 360px;
$cherry_y = 0px;
$cherry_offset_x = -360px;
$cherry_offset_y = 0px;
$cherry_width = 360px;
$cherry_height = 870px;
$cherry_total_width = 1800px;
$cherry_total_height = 1740px;
$cherry_image = '../images/sprites/homepage_sprites.jpg';
$cherry = 360px 0px -360px 0px 360px 870px 1800px 1740px '../images/sprites/homepage_sprites.jpg' 'cherry';
$electricity_name = 'electricity';
$electricity_x = 720px;
$electricity_y = 0px;
$electricity_offset_x = -720px;
$electricity_offset_y = 0px;
$electricity_width = 360px;
$electricity_height = 870px;
$electricity_total_width = 1800px;
$electricity_total_height = 1740px;
$electricity_image = '../images/sprites/homepage_sprites.jpg';
$electricity = 720px 0px -720px 0px 360px 870px 1800px 1740px '../images/sprites/homepage_sprites.jpg' 'electricity';
$gray_name = 'gray';
$gray_x = 1080px;
$gray_y = 0px;
$gray_offset_x = -1080px;
$gray_offset_y = 0px;
$gray_width = 360px;
$gray_height = 870px;
$gray_total_width = 1800px;
$gray_total_height = 1740px;
$gray_image = '../images/sprites/homepage_sprites.jpg';
$gray = 1080px 0px -1080px 0px 360px 870px 1800px 1740px '../images/sprites/homepage_sprites.jpg' 'gray';
$nectarine_name = 'nectarine';
$nectarine_x = 1440px;
$nectarine_y = 0px;
$nectarine_offset_x = -1440px;
$nectarine_offset_y = 0px;
$nectarine_width = 360px;
$nectarine_height = 870px;
$nectarine_total_width = 1800px;
$nectarine_total_height = 1740px;
$nectarine_image = '../images/sprites/homepage_sprites.jpg';
$nectarine = 1440px 0px -1440px 0px 360px 870px 1800px 1740px '../images/sprites/homepage_sprites.jpg' 'nectarine';
$plum_crazy_name = 'plum_crazy';
$plum_crazy_x = 0px;
$plum_crazy_y = 870px;
$plum_crazy_offset_x = 0px;
$plum_crazy_offset_y = -870px;
$plum_crazy_width = 360px;
$plum_crazy_height = 870px;
$plum_crazy_total_width = 1800px;
$plum_crazy_total_height = 1740px;
$plum_crazy_image = '../images/sprites/homepage_sprites.jpg';
$plum_crazy = 0px 870px 0px -870px 360px 870px 1800px 1740px '../images/sprites/homepage_sprites.jpg' 'plum_crazy';
$powder_name = 'powder';
$powder_x = 360px;
$powder_y = 870px;
$powder_offset_x = -360px;
$powder_offset_y = -870px;
$powder_width = 360px;
$powder_height = 870px;
$powder_total_width = 1800px;
$powder_total_height = 1740px;
$powder_image = '../images/sprites/homepage_sprites.jpg';
$powder = 360px 870px -360px -870px 360px 870px 1800px 1740px '../images/sprites/homepage_sprites.jpg' 'powder';
$proton_powder_name = 'proton_powder';
$proton_powder_x = 720px;
$proton_powder_y = 870px;
$proton_powder_offset_x = -720px;
$proton_powder_offset_y = -870px;
$proton_powder_width = 360px;
$proton_powder_height = 870px;
$proton_powder_total_width = 1800px;
$proton_powder_total_height = 1740px;
$proton_powder_image = '../images/sprites/homepage_sprites.jpg';
$proton_powder = 720px 870px -720px -870px 360px 870px 1800px 1740px '../images/sprites/homepage_sprites.jpg' 'proton_powder';
$spritesheet_width = 1800px;
$spritesheet_height = 1740px;
$spritesheet_image = '../images/sprites/homepage_sprites.jpg';
$spritesheet_sprites = $apple $cherry $electricity $gray $nectarine $plum_crazy $powder $proton_powder;
$spritesheet = 1800px 1740px '../images/sprites/homepage_sprites.jpg' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
