/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$apple_back_name = 'apple-back';
$apple_back_x = 1230px;
$apple_back_y = 0px;
$apple_back_offset_x = -1230px;
$apple_back_offset_y = 0px;
$apple_back_width = 1230px;
$apple_back_height = 2000px;
$apple_back_total_width = 9840px;
$apple_back_total_height = 8000px;
$apple_back_image = '../images/sprites/individual_galleries.jpg';
$apple_back = 1230px 0px -1230px 0px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'apple-back';
$apple_detail_name = 'apple-detail';
$apple_detail_x = 6150px;
$apple_detail_y = 2000px;
$apple_detail_offset_x = -6150px;
$apple_detail_offset_y = -2000px;
$apple_detail_width = 1230px;
$apple_detail_height = 2000px;
$apple_detail_total_width = 9840px;
$apple_detail_total_height = 8000px;
$apple_detail_image = '../images/sprites/individual_galleries.jpg';
$apple_detail = 6150px 2000px -6150px -2000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'apple-detail';
$apple_front_name = 'apple-front';
$apple_front_x = 2460px;
$apple_front_y = 0px;
$apple_front_offset_x = -2460px;
$apple_front_offset_y = 0px;
$apple_front_width = 1230px;
$apple_front_height = 2000px;
$apple_front_total_width = 9840px;
$apple_front_total_height = 8000px;
$apple_front_image = '../images/sprites/individual_galleries.jpg';
$apple_front = 2460px 0px -2460px 0px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'apple-front';
$apple_side_name = 'apple-side';
$apple_side_x = 3690px;
$apple_side_y = 0px;
$apple_side_offset_x = -3690px;
$apple_side_offset_y = 0px;
$apple_side_width = 1230px;
$apple_side_height = 2000px;
$apple_side_total_width = 9840px;
$apple_side_total_height = 8000px;
$apple_side_image = '../images/sprites/individual_galleries.jpg';
$apple_side = 3690px 0px -3690px 0px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'apple-side';
$cherry_back_name = 'cherry-back';
$cherry_back_x = 0px;
$cherry_back_y = 2000px;
$cherry_back_offset_x = 0px;
$cherry_back_offset_y = -2000px;
$cherry_back_width = 1230px;
$cherry_back_height = 2000px;
$cherry_back_total_width = 9840px;
$cherry_back_total_height = 8000px;
$cherry_back_image = '../images/sprites/individual_galleries.jpg';
$cherry_back = 0px 2000px 0px -2000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'cherry-back';
$cherry_detail_name = 'cherry-detail';
$cherry_detail_x = 1230px;
$cherry_detail_y = 2000px;
$cherry_detail_offset_x = -1230px;
$cherry_detail_offset_y = -2000px;
$cherry_detail_width = 1230px;
$cherry_detail_height = 2000px;
$cherry_detail_total_width = 9840px;
$cherry_detail_total_height = 8000px;
$cherry_detail_image = '../images/sprites/individual_galleries.jpg';
$cherry_detail = 1230px 2000px -1230px -2000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'cherry-detail';
$cherry_front_name = 'cherry-front';
$cherry_front_x = 2460px;
$cherry_front_y = 2000px;
$cherry_front_offset_x = -2460px;
$cherry_front_offset_y = -2000px;
$cherry_front_width = 1230px;
$cherry_front_height = 2000px;
$cherry_front_total_width = 9840px;
$cherry_front_total_height = 8000px;
$cherry_front_image = '../images/sprites/individual_galleries.jpg';
$cherry_front = 2460px 2000px -2460px -2000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'cherry-front';
$cherry_side_name = 'cherry-side';
$cherry_side_x = 3690px;
$cherry_side_y = 2000px;
$cherry_side_offset_x = -3690px;
$cherry_side_offset_y = -2000px;
$cherry_side_width = 1230px;
$cherry_side_height = 2000px;
$cherry_side_total_width = 9840px;
$cherry_side_total_height = 8000px;
$cherry_side_image = '../images/sprites/individual_galleries.jpg';
$cherry_side = 3690px 2000px -3690px -2000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'cherry-side';
$electricity_back_name = 'electricity-back';
$electricity_back_x = 4920px;
$electricity_back_y = 0px;
$electricity_back_offset_x = -4920px;
$electricity_back_offset_y = 0px;
$electricity_back_width = 1230px;
$electricity_back_height = 2000px;
$electricity_back_total_width = 9840px;
$electricity_back_total_height = 8000px;
$electricity_back_image = '../images/sprites/individual_galleries.jpg';
$electricity_back = 4920px 0px -4920px 0px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'electricity-back';
$electricity_detail_name = 'electricity-detail';
$electricity_detail_x = 4920px;
$electricity_detail_y = 2000px;
$electricity_detail_offset_x = -4920px;
$electricity_detail_offset_y = -2000px;
$electricity_detail_width = 1230px;
$electricity_detail_height = 2000px;
$electricity_detail_total_width = 9840px;
$electricity_detail_total_height = 8000px;
$electricity_detail_image = '../images/sprites/individual_galleries.jpg';
$electricity_detail = 4920px 2000px -4920px -2000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'electricity-detail';
$electricity_front_name = 'electricity-front';
$electricity_front_x = 0px;
$electricity_front_y = 4000px;
$electricity_front_offset_x = 0px;
$electricity_front_offset_y = -4000px;
$electricity_front_width = 1230px;
$electricity_front_height = 2000px;
$electricity_front_total_width = 9840px;
$electricity_front_total_height = 8000px;
$electricity_front_image = '../images/sprites/individual_galleries.jpg';
$electricity_front = 0px 4000px 0px -4000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'electricity-front';
$electricity_side_name = 'electricity-side';
$electricity_side_x = 1230px;
$electricity_side_y = 4000px;
$electricity_side_offset_x = -1230px;
$electricity_side_offset_y = -4000px;
$electricity_side_width = 1230px;
$electricity_side_height = 2000px;
$electricity_side_total_width = 9840px;
$electricity_side_total_height = 8000px;
$electricity_side_image = '../images/sprites/individual_galleries.jpg';
$electricity_side = 1230px 4000px -1230px -4000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'electricity-side';
$lemon_back_name = 'lemon-back';
$lemon_back_x = 2460px;
$lemon_back_y = 4000px;
$lemon_back_offset_x = -2460px;
$lemon_back_offset_y = -4000px;
$lemon_back_width = 1230px;
$lemon_back_height = 2000px;
$lemon_back_total_width = 9840px;
$lemon_back_total_height = 8000px;
$lemon_back_image = '../images/sprites/individual_galleries.jpg';
$lemon_back = 2460px 4000px -2460px -4000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'lemon-back';
$lemon_detail_name = 'lemon-detail';
$lemon_detail_x = 3690px;
$lemon_detail_y = 4000px;
$lemon_detail_offset_x = -3690px;
$lemon_detail_offset_y = -4000px;
$lemon_detail_width = 1230px;
$lemon_detail_height = 2000px;
$lemon_detail_total_width = 9840px;
$lemon_detail_total_height = 8000px;
$lemon_detail_image = '../images/sprites/individual_galleries.jpg';
$lemon_detail = 3690px 4000px -3690px -4000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'lemon-detail';
$lemon_front_name = 'lemon-front';
$lemon_front_x = 4920px;
$lemon_front_y = 4000px;
$lemon_front_offset_x = -4920px;
$lemon_front_offset_y = -4000px;
$lemon_front_width = 1230px;
$lemon_front_height = 2000px;
$lemon_front_total_width = 9840px;
$lemon_front_total_height = 8000px;
$lemon_front_image = '../images/sprites/individual_galleries.jpg';
$lemon_front = 4920px 4000px -4920px -4000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'lemon-front';
$lemon_side_name = 'lemon-side';
$lemon_side_x = 6150px;
$lemon_side_y = 0px;
$lemon_side_offset_x = -6150px;
$lemon_side_offset_y = 0px;
$lemon_side_width = 1230px;
$lemon_side_height = 2000px;
$lemon_side_total_width = 9840px;
$lemon_side_total_height = 8000px;
$lemon_side_image = '../images/sprites/individual_galleries.jpg';
$lemon_side = 6150px 0px -6150px 0px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'lemon-side';
$nectarine_back_name = 'nectarine-back';
$nectarine_back_x = 0px;
$nectarine_back_y = 0px;
$nectarine_back_offset_x = 0px;
$nectarine_back_offset_y = 0px;
$nectarine_back_width = 1230px;
$nectarine_back_height = 2000px;
$nectarine_back_total_width = 9840px;
$nectarine_back_total_height = 8000px;
$nectarine_back_image = '../images/sprites/individual_galleries.jpg';
$nectarine_back = 0px 0px 0px 0px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'nectarine-back';
$nectarine_detail_name = 'nectarine-detail';
$nectarine_detail_x = 6150px;
$nectarine_detail_y = 4000px;
$nectarine_detail_offset_x = -6150px;
$nectarine_detail_offset_y = -4000px;
$nectarine_detail_width = 1230px;
$nectarine_detail_height = 2000px;
$nectarine_detail_total_width = 9840px;
$nectarine_detail_total_height = 8000px;
$nectarine_detail_image = '../images/sprites/individual_galleries.jpg';
$nectarine_detail = 6150px 4000px -6150px -4000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'nectarine-detail';
$nectarine_front_name = 'nectarine-front';
$nectarine_front_x = 7380px;
$nectarine_front_y = 0px;
$nectarine_front_offset_x = -7380px;
$nectarine_front_offset_y = 0px;
$nectarine_front_width = 1230px;
$nectarine_front_height = 2000px;
$nectarine_front_total_width = 9840px;
$nectarine_front_total_height = 8000px;
$nectarine_front_image = '../images/sprites/individual_galleries.jpg';
$nectarine_front = 7380px 0px -7380px 0px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'nectarine-front';
$nectarine_side_name = 'nectarine-side';
$nectarine_side_x = 7380px;
$nectarine_side_y = 2000px;
$nectarine_side_offset_x = -7380px;
$nectarine_side_offset_y = -2000px;
$nectarine_side_width = 1230px;
$nectarine_side_height = 2000px;
$nectarine_side_total_width = 9840px;
$nectarine_side_total_height = 8000px;
$nectarine_side_image = '../images/sprites/individual_galleries.jpg';
$nectarine_side = 7380px 2000px -7380px -2000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'nectarine-side';
$plum_crazy_back_name = 'plum-crazy-back';
$plum_crazy_back_x = 7380px;
$plum_crazy_back_y = 4000px;
$plum_crazy_back_offset_x = -7380px;
$plum_crazy_back_offset_y = -4000px;
$plum_crazy_back_width = 1230px;
$plum_crazy_back_height = 2000px;
$plum_crazy_back_total_width = 9840px;
$plum_crazy_back_total_height = 8000px;
$plum_crazy_back_image = '../images/sprites/individual_galleries.jpg';
$plum_crazy_back = 7380px 4000px -7380px -4000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'plum-crazy-back';
$plum_crazy_detail_name = 'plum-crazy-detail';
$plum_crazy_detail_x = 0px;
$plum_crazy_detail_y = 6000px;
$plum_crazy_detail_offset_x = 0px;
$plum_crazy_detail_offset_y = -6000px;
$plum_crazy_detail_width = 1230px;
$plum_crazy_detail_height = 2000px;
$plum_crazy_detail_total_width = 9840px;
$plum_crazy_detail_total_height = 8000px;
$plum_crazy_detail_image = '../images/sprites/individual_galleries.jpg';
$plum_crazy_detail = 0px 6000px 0px -6000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'plum-crazy-detail';
$plum_crazy_front_name = 'plum-crazy-front';
$plum_crazy_front_x = 1230px;
$plum_crazy_front_y = 6000px;
$plum_crazy_front_offset_x = -1230px;
$plum_crazy_front_offset_y = -6000px;
$plum_crazy_front_width = 1230px;
$plum_crazy_front_height = 2000px;
$plum_crazy_front_total_width = 9840px;
$plum_crazy_front_total_height = 8000px;
$plum_crazy_front_image = '../images/sprites/individual_galleries.jpg';
$plum_crazy_front = 1230px 6000px -1230px -6000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'plum-crazy-front';
$plum_crazy_side_name = 'plum-crazy-side';
$plum_crazy_side_x = 2460px;
$plum_crazy_side_y = 6000px;
$plum_crazy_side_offset_x = -2460px;
$plum_crazy_side_offset_y = -6000px;
$plum_crazy_side_width = 1230px;
$plum_crazy_side_height = 2000px;
$plum_crazy_side_total_width = 9840px;
$plum_crazy_side_total_height = 8000px;
$plum_crazy_side_image = '../images/sprites/individual_galleries.jpg';
$plum_crazy_side = 2460px 6000px -2460px -6000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'plum-crazy-side';
$powder_back_name = 'powder-back';
$powder_back_x = 3690px;
$powder_back_y = 6000px;
$powder_back_offset_x = -3690px;
$powder_back_offset_y = -6000px;
$powder_back_width = 1230px;
$powder_back_height = 2000px;
$powder_back_total_width = 9840px;
$powder_back_total_height = 8000px;
$powder_back_image = '../images/sprites/individual_galleries.jpg';
$powder_back = 3690px 6000px -3690px -6000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'powder-back';
$powder_detail_name = 'powder-detail';
$powder_detail_x = 4920px;
$powder_detail_y = 6000px;
$powder_detail_offset_x = -4920px;
$powder_detail_offset_y = -6000px;
$powder_detail_width = 1230px;
$powder_detail_height = 2000px;
$powder_detail_total_width = 9840px;
$powder_detail_total_height = 8000px;
$powder_detail_image = '../images/sprites/individual_galleries.jpg';
$powder_detail = 4920px 6000px -4920px -6000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'powder-detail';
$powder_front_name = 'powder-front';
$powder_front_x = 6150px;
$powder_front_y = 6000px;
$powder_front_offset_x = -6150px;
$powder_front_offset_y = -6000px;
$powder_front_width = 1230px;
$powder_front_height = 2000px;
$powder_front_total_width = 9840px;
$powder_front_total_height = 8000px;
$powder_front_image = '../images/sprites/individual_galleries.jpg';
$powder_front = 6150px 6000px -6150px -6000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'powder-front';
$powder_side_name = 'powder-side';
$powder_side_x = 7380px;
$powder_side_y = 6000px;
$powder_side_offset_x = -7380px;
$powder_side_offset_y = -6000px;
$powder_side_width = 1230px;
$powder_side_height = 2000px;
$powder_side_total_width = 9840px;
$powder_side_total_height = 8000px;
$powder_side_image = '../images/sprites/individual_galleries.jpg';
$powder_side = 7380px 6000px -7380px -6000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'powder-side';
$proton_powder_back_name = 'proton-powder-back';
$proton_powder_back_x = 8610px;
$proton_powder_back_y = 0px;
$proton_powder_back_offset_x = -8610px;
$proton_powder_back_offset_y = 0px;
$proton_powder_back_width = 1230px;
$proton_powder_back_height = 2000px;
$proton_powder_back_total_width = 9840px;
$proton_powder_back_total_height = 8000px;
$proton_powder_back_image = '../images/sprites/individual_galleries.jpg';
$proton_powder_back = 8610px 0px -8610px 0px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'proton-powder-back';
$proton_powder_detail_name = 'proton-powder-detail';
$proton_powder_detail_x = 8610px;
$proton_powder_detail_y = 2000px;
$proton_powder_detail_offset_x = -8610px;
$proton_powder_detail_offset_y = -2000px;
$proton_powder_detail_width = 1230px;
$proton_powder_detail_height = 2000px;
$proton_powder_detail_total_width = 9840px;
$proton_powder_detail_total_height = 8000px;
$proton_powder_detail_image = '../images/sprites/individual_galleries.jpg';
$proton_powder_detail = 8610px 2000px -8610px -2000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'proton-powder-detail';
$proton_powder_front_name = 'proton-powder-front';
$proton_powder_front_x = 8610px;
$proton_powder_front_y = 4000px;
$proton_powder_front_offset_x = -8610px;
$proton_powder_front_offset_y = -4000px;
$proton_powder_front_width = 1230px;
$proton_powder_front_height = 2000px;
$proton_powder_front_total_width = 9840px;
$proton_powder_front_total_height = 8000px;
$proton_powder_front_image = '../images/sprites/individual_galleries.jpg';
$proton_powder_front = 8610px 4000px -8610px -4000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'proton-powder-front';
$proton_powder_side_name = 'proton-powder-side';
$proton_powder_side_x = 8610px;
$proton_powder_side_y = 6000px;
$proton_powder_side_offset_x = -8610px;
$proton_powder_side_offset_y = -6000px;
$proton_powder_side_width = 1230px;
$proton_powder_side_height = 2000px;
$proton_powder_side_total_width = 9840px;
$proton_powder_side_total_height = 8000px;
$proton_powder_side_image = '../images/sprites/individual_galleries.jpg';
$proton_powder_side = 8610px 6000px -8610px -6000px 1230px 2000px 9840px 8000px '../images/sprites/individual_galleries.jpg' 'proton-powder-side';
$spritesheet_width = 9840px;
$spritesheet_height = 8000px;
$spritesheet_image = '../images/sprites/individual_galleries.jpg';
$spritesheet_sprites_b = $apple_back $apple_detail $apple_front $apple_side $cherry_back $cherry_detail $cherry_front $cherry_side $electricity_back $electricity_detail $electricity_front $electricity_side $lemon_back $lemon_detail $lemon_front $lemon_side $nectarine_back $nectarine_detail $nectarine_front $nectarine_side $plum_crazy_back $plum_crazy_detail $plum_crazy_front $plum_crazy_side $powder_back $powder_detail $powder_front $powder_side $proton_powder_back $proton_powder_detail $proton_powder_front $proton_powder_side;
$spritesheet = 9840px 8000px '../images/sprites/individual_galleries.jpg' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
