html,
body,
.main {
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
}
.home-sprite {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 2px solid #f00;
}
.pant-container {
  height: 75%;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.pant-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.apple-gs {
  background-image: url("../images/sprites/homepage_sprites.jpg");
  background-position: 0px 0px;
  width: 360px;
  height: 870px;
}
.cherry-gs {
  background-image: url("../images/sprites/homepage_sprites.jpg");
  background-position: -360px 0px;
  width: 360px;
  height: 870px;
}
.electricity-gs {
  background-image: url("../images/sprites/homepage_sprites.jpg");
  background-position: -720px 0px;
  width: 360px;
  height: 870px;
}
.nectarine-gs {
  background-image: url("../images/sprites/homepage_sprites.jpg");
  background-position: -1440px 0px;
  width: 360px;
  height: 870px;
}
.plum_crazy-gs {
  background-image: url("../images/sprites/homepage_sprites.jpg");
  background-position: 0px -870px;
  width: 360px;
  height: 870px;
}
.powder-gs {
  background-image: url("../images/sprites/homepage_sprites.jpg");
  background-position: -360px -870px;
  width: 360px;
  height: 870px;
}
.proton_powder-gs {
  background-image: url("../images/sprites/homepage_sprites.jpg");
  background-position: -720px -870px;
  width: 360px;
  height: 870px;
}
.gray-gs {
  background-image: url("../images/sprites/homepage_sprites.jpg");
  background-position: -1080px 0px;
  width: 360px;
  height: 870px;
}
.apple-pant {
  background-image: url("../images/sprites/front_sprites.jpg");
  background-position: 0px 0px;
  width: 350px;
  height: 871px;
}
.cherry-pant {
  background-image: url("../images/sprites/front_sprites.jpg");
  background-position: -350px 0px;
  width: 350px;
  height: 871px;
}
.electricity-pant {
  background-image: url("../images/sprites/front_sprites.jpg");
  background-position: -700px -871px;
  width: 350px;
  height: 871px;
}
.lemon-pant {
  background-image: url("../images/sprites/front_sprites.jpg");
  background-position: -1050px 0px;
  width: 350px;
  height: 871px;
}
.nectarine-pant {
  background-image: url("../images/sprites/front_sprites.jpg");
  background-position: -1400px 0px;
  width: 350px;
  height: 871px;
}
.plum-crazy-pant {
  background-image: url("../images/sprites/front_sprites.jpg");
  background-position: 0px -871px;
  width: 350px;
  height: 871px;
}
.powder-pant {
  background-image: url("../images/sprites/front_sprites.jpg");
  background-position: -350px -871px;
  width: 350px;
  height: 871px;
}
.proton-powder-pant {
  background-image: url("../images/sprites/front_sprites.jpg");
  background-position: -700px -871px;
  width: 350px;
  height: 871px;
}
.gallery-animate {
  transition: all cubic-bezier(1, 0.01, 0.33, 1) 0.5s;
  opacity: 0;
}
.gallery-animate.displayed {
  transition: all cubic-bezier(1, 0.01, 0.57, 1) 2s;
  opacity: 1;
}
.fast-gray {
  transition: all cubic-bezier(0.83, 0.04, 0.65, 0.93) 0.4s;
  opacity: 1;
}
.fast-no-gray {
  transition: all cubic-bezier(0.83, 0.04, 0.65, 0.93) 0.4s;
  opacity: 0;
}
