html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
code,
img,
var,
b,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
site-header,
site-gallery,
site-nav {
  display: block;
}
html,
body {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}
.hidden {
  visibility: hidden;
}
.display-none {
  display: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
a:link,
a:visited {
  text-decoration: none;
}
header {
  padding-top: 0.2em;
  border-bottom: 0.25em solid #000;
  width: 97%;
  -webkit-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header a {
  -webkit-flex: 8 0 auto;
      -ms-flex: 8 0 auto;
          flex: 8 0 auto;
  padding-left: 3%;
  width: 80%;
}
img.header {
  width: 100%;
}
site-cart {
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 15%;
}
.modal-cart {
  margin-left: 25%;
}
.wrap {
  -webkit-perspective: 21vw;
          perspective: 21vw;
  -webkit-perspective-origin: 3.5vw 3.5vw;
          perspective-origin: 3.5vw 3.5vw;
}
.cart-cube {
  position: relative;
  width: 7vw;
  height: 7vw;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.cart-cube div {
  position: absolute;
  width: 7vw;
  height: 7vw;
  box-shadow: inset 0 0 1vw rgba(125,125,125,0.8);
  text-align: center;
  line-height: 7vw;
}
.back {
  -webkit-transform: rotateY(180deg) translateZ(-3.5vw);
          transform: rotateY(180deg) translateZ(-3.5vw);
}
.right {
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotateY(-270deg) translateX(3.5vw);
          transform: rotateY(-270deg) translateX(3.5vw);
}
.left {
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
  -webkit-transform: rotateY(270deg) translateX(-3.5vw);
          transform: rotateY(270deg) translateX(-3.5vw);
}
.top {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotateX(-90deg) translateY(-3.5vw);
          transform: rotateX(-90deg) translateY(-3.5vw);
}
.bottom {
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotateX(90deg) translateY(3.5vw);
          transform: rotateX(90deg) translateY(3.5vw);
}
.front {
  -webkit-transform: translateZ(3.5vw);
          transform: translateZ(3.5vw);
}
site-cart .item-count {
  text-align: center;
  color: #3f2c63;
  box-shadow: none;
  text-shadow: 1px 1px 4px #ed243f;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.cart-container {
  color: #fff;
  margin-top: 0.4em;
  position: absolute;
  left: 0;
  font-size: 1.5em;
  line-height: 100%;
  width: 100%;
  background: #6f6f6f;
}
.checkout-options {
  float: left;
  clear: left;
}
.cart-container p {
  padding-left: 9%;
}
.cart-header {
  border-bottom: 0.125em solid #fff;
}
.cart-container a {
  color: #26599a;
}
.cart-container a:active {
  background-color: #26599a;
}
site-nav {
  position: relative;
  z-index: 5;
}
nav {
  position: absolute;
  float: left;
  z-index: 1;
  margin: 0.25em 0 0 0.5em;
}
nav li {
  margin-bottom: 0.5em;
}
nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}
nav li:nth-child(1) > a {
  color: #ed243f;
}
nav li:nth-child(2) > a {
  color: #26599a;
}
nav li:nth-child(3) > a {
  color: #3f2c63;
}
nav.horizontal {
  width: 100%;
  height: 6vh;
  min-height: 0;
  margin: 0;
  text-align: justify;
}
nav ul {
  transition: max-height 2s;
}
nav ul.collapsed {
  max-width: 0;
  transition: max-width 0.2s;
}
nav ul.height-collapse {
  max-height: 0;
}
nav.horizontal:after {
  content: "";
  width: 87vw;
  display: inline-block;
}
nav.horizontal li {
  margin-top: 0.5vh;
  display: inline-block;
}
div.main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  z-index: -1;
  opacity: 0.99;
}
img.gallery {
  position: absolute;
  height: 100%;
  right: -2em;
  z-index: -3;
  opacity: 1;
}
img.gallery.front {
  z-index: 0;
}
img.gallery.next {
  z-index: -2;
}
img.gallery.fade {
  z-index: -1;
  opacity: 0;
  transition: opacity cubic-bezier(0.25, 0.25, 0.75, 0.75) 0.5s;
}
.loading-gallery.done-loading {
  display: none;
}
.collection.container {
  text-align: center;
}
div.poster-container {
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
  border-bottom: 3vw solid #000;
}
img.poster {
  height: 75vh;
}
.poster-container .pant-flavor,
.poster-container .pant-price {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}
.product.container {
  text-align: center;
  overflow: hidden;
}
.individual-gallery {
  position: relative;
  overflow: hidden;
}
.gallery-holder {
  position: relative;
  width: 400%;
  padding-left: 10%;
  margin-bottom: 6vh;
}
.individual-main {
  height: 81vh;
  float: left;
  padding-right: 2.75em;
}
.view-picker {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0.5vh;
}
.gallery-picker {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3.75vh;
  height: 3.75vh;
  border-radius: 50%;
  color: #000;
  background: #26599a;
  border: 0.5vh solid #26599a;
}
.gallery-picker:checked {
  background: #26599a;
  border: 0.5vh solid #ed243f;
}
.product-title {
  font-weight: 700;
}
.left-ui {
  margin-top: 1.5em;
  float: left;
  clear: right;
  margin-left: 1.3em;
}
.right-ui {
  margin-top: 1.5em;
  float: right;
  margin-right: 1.3em;
}
.product-button {
  border: none;
  background: #fff;
  padding: 0;
  z-index: -1;
  float: right;
  clear: right;
}
.product-select {
  float: right;
  clear: right;
}
#details {
  position: absolute;
  text-align: left;
  width: 100vw;
  min-height: 35vh;
  z-index: 5;
  margin-top: -7vh;
  background: rgba(111,111,111,0.88);
  clear: both;
  display: block;
}
.detail-tab {
  float: left;
}
.detail-tab label {
  position: relative;
  margin-right: 8vw;
  color: #000;
}
.detail-tab ul {
  display: none;
  position: absolute;
  width: 100vw;
  left: 0;
  border-top: 0.4vh solid #fff;
  padding-top: 1vh;
}
[type=radio]:checked ~ label {
  color: #fff;
}
[type=radio]:checked ~ label ~ ul {
  display: block;
}
.detail-tab input {
  display: none;
}
#product-column {
  color: #fff;
}
#brand-column {
  color: #808080;
}
#care-column {
  color: #000;
}
#close-details {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #f00;
}
#sizemenu {
  margin-top: 7vh;
  max-width: 30%;
}
#table-holder {
  position: absolute;
  margin-top: -7vh;
  padding-bottom: 4.5vh;
  background: rgba(111,111,111,0.96);
}
table {
  font-size: 5vw;
  border: 1px solid #000;
}
caption {
  text-align: left;
}
caption h1 {
  font-size: 4.5vh;
  font-weight: 700;
}
caption p {
  padding-top: 1.5vh;
  padding-bottom: 0.5vh;
  font-size: 3vh;
  font-weight: 400;
}
th,
td {
  border-collapse: collapse;
}
th {
  font-weight: 600;
  border-right: 2px solid #000;
}
td {
  border: 1px solid #000;
}
#size-copy {
  width: 50%;
  float: left;
}
#sizing-guide {
  float: right;
  width: 50%;
}
.about.container {
  padding-top: 6vh;
}
@media screen and (max-aspect-ratio: 320/510) {
  header {
    height: 6vh;
  }
  header img {
    height: 4.7vh;
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
