html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
code,
img,
var,
b,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a:focus {
  outline: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img.gallery {
  position: absolute;
  width: 85%;
  top: 10%;
  z-index: -2;
  -webkit-transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.85s;
  -moz-transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.85s;
  -o-transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.85s;
  -ms-transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.85s;
  transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.85s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
img.gallery.front {
  z-index: -1;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.25s;
  -moz-transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.25s;
  -o-transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.25s;
  -ms-transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.25s;
  transition: all cubic-bezier(1, 0.01, 0.57, 1) 0.25s;
}
html,
body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
header {
  margin-top: 3vw;
  border-bottom: 0.25em solid #000;
}
header img {
  width: 80vw;
  margin-left: 2vw;
}
site-cart {
  float: right;
  height: 8vw;
  width: 8vw;
  margin-right: 3vw;
  background: rgba(20,20,255,0.6);
}
site-cart .words {
  text-align: center;
  line-height: 8vw;
}
nav {
  margin-top: 1vw;
  margin-left: 2vw;
}
nav li {
  margin-top: 1.25vw;
}
nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7vw;
}
nav li:nth-child(1) > a {
  color: #f0f;
}
nav li:nth-child(2) > a {
  color: #0f6cff;
}
nav li:nth-child(3) > a {
  color: #3bdf09;
}
.pant-container {
  position: relative;
  display: inline-block;
  height: 75%;
  width: 25%;
  vertical-align: top;
}
.pant-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
