/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$apple_poster_name = 'apple-poster';
$apple_poster_x = 0px;
$apple_poster_y = 0px;
$apple_poster_offset_x = 0px;
$apple_poster_offset_y = 0px;
$apple_poster_width = 1230px;
$apple_poster_height = 2000px;
$apple_poster_total_width = 4920px;
$apple_poster_total_height = 4000px;
$apple_poster_image = '../images/sprites/poster_sprites.jpg';
$apple_poster = 0px 0px 0px 0px 1230px 2000px 4920px 4000px '../images/sprites/poster_sprites.jpg' 'apple-poster';
$cherry_poster_name = 'cherry-poster';
$cherry_poster_x = 1230px;
$cherry_poster_y = 0px;
$cherry_poster_offset_x = -1230px;
$cherry_poster_offset_y = 0px;
$cherry_poster_width = 1230px;
$cherry_poster_height = 2000px;
$cherry_poster_total_width = 4920px;
$cherry_poster_total_height = 4000px;
$cherry_poster_image = '../images/sprites/poster_sprites.jpg';
$cherry_poster = 1230px 0px -1230px 0px 1230px 2000px 4920px 4000px '../images/sprites/poster_sprites.jpg' 'cherry-poster';
$electricity_poster_name = 'electricity-poster';
$electricity_poster_x = 2460px;
$electricity_poster_y = 0px;
$electricity_poster_offset_x = -2460px;
$electricity_poster_offset_y = 0px;
$electricity_poster_width = 1230px;
$electricity_poster_height = 2000px;
$electricity_poster_total_width = 4920px;
$electricity_poster_total_height = 4000px;
$electricity_poster_image = '../images/sprites/poster_sprites.jpg';
$electricity_poster = 2460px 0px -2460px 0px 1230px 2000px 4920px 4000px '../images/sprites/poster_sprites.jpg' 'electricity-poster';
$lemon_poster_name = 'lemon-poster';
$lemon_poster_x = 3690px;
$lemon_poster_y = 0px;
$lemon_poster_offset_x = -3690px;
$lemon_poster_offset_y = 0px;
$lemon_poster_width = 1230px;
$lemon_poster_height = 2000px;
$lemon_poster_total_width = 4920px;
$lemon_poster_total_height = 4000px;
$lemon_poster_image = '../images/sprites/poster_sprites.jpg';
$lemon_poster = 3690px 0px -3690px 0px 1230px 2000px 4920px 4000px '../images/sprites/poster_sprites.jpg' 'lemon-poster';
$nectarine_poster_name = 'nectarine-poster';
$nectarine_poster_x = 0px;
$nectarine_poster_y = 2000px;
$nectarine_poster_offset_x = 0px;
$nectarine_poster_offset_y = -2000px;
$nectarine_poster_width = 1230px;
$nectarine_poster_height = 2000px;
$nectarine_poster_total_width = 4920px;
$nectarine_poster_total_height = 4000px;
$nectarine_poster_image = '../images/sprites/poster_sprites.jpg';
$nectarine_poster = 0px 2000px 0px -2000px 1230px 2000px 4920px 4000px '../images/sprites/poster_sprites.jpg' 'nectarine-poster';
$plum_crazy_poster_name = 'plum-crazy-poster';
$plum_crazy_poster_x = 1230px;
$plum_crazy_poster_y = 2000px;
$plum_crazy_poster_offset_x = -1230px;
$plum_crazy_poster_offset_y = -2000px;
$plum_crazy_poster_width = 1230px;
$plum_crazy_poster_height = 2000px;
$plum_crazy_poster_total_width = 4920px;
$plum_crazy_poster_total_height = 4000px;
$plum_crazy_poster_image = '../images/sprites/poster_sprites.jpg';
$plum_crazy_poster = 1230px 2000px -1230px -2000px 1230px 2000px 4920px 4000px '../images/sprites/poster_sprites.jpg' 'plum-crazy-poster';
$powder_poster_name = 'powder-poster';
$powder_poster_x = 2460px;
$powder_poster_y = 2000px;
$powder_poster_offset_x = -2460px;
$powder_poster_offset_y = -2000px;
$powder_poster_width = 1230px;
$powder_poster_height = 2000px;
$powder_poster_total_width = 4920px;
$powder_poster_total_height = 4000px;
$powder_poster_image = '../images/sprites/poster_sprites.jpg';
$powder_poster = 2460px 2000px -2460px -2000px 1230px 2000px 4920px 4000px '../images/sprites/poster_sprites.jpg' 'powder-poster';
$proton_powder_poster_name = 'proton-powder-poster';
$proton_powder_poster_x = 3690px;
$proton_powder_poster_y = 2000px;
$proton_powder_poster_offset_x = -3690px;
$proton_powder_poster_offset_y = -2000px;
$proton_powder_poster_width = 1230px;
$proton_powder_poster_height = 2000px;
$proton_powder_poster_total_width = 4920px;
$proton_powder_poster_total_height = 4000px;
$proton_powder_poster_image = '../images/sprites/poster_sprites.jpg';
$proton_powder_poster = 3690px 2000px -3690px -2000px 1230px 2000px 4920px 4000px '../images/sprites/poster_sprites.jpg' 'proton-powder-poster';
$spritesheet_width = 4920px;
$spritesheet_height = 4000px;
$spritesheet_image = '../images/sprites/poster_sprites.jpg';
$spritesheet_sprites_b = $apple_poster $cherry_poster $electricity_poster $lemon_poster $nectarine_poster $plum_crazy_poster $powder_poster $proton_powder_poster;
$spritesheet = 4920px 4000px '../images/sprites/poster_sprites.jpg' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
