// <link href='http://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
@require 'front_sprites'
@require 'homepage_sprites'
@require 'nib'

// Meyer reset
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, img, var, b, i, center, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, nav, section, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
 
body
  line-height: 1
  
ol, ul
  list-style: none
  
blockquote, q
  quotes: none
  
blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none
  
a:focus
  outline: 0
table
  border-collapse: collapse
  border-spacing: 0
// End of reset
  
html, body, .main
  width 100%
  height 100%
  
body
  font-family 'Arial', sans-serif

header
  border-bottom .25em solid black
  position relative
  height 4.5em
  
h1
  position absolute
  left 1em
  top 1.2em
  
.status
  position absolute
  right 1em
  top 3.55em
  font-size 100%





.home-sprite
  position absolute
  left 0
  right 0
  margin 0 auto
  width 300px
  height 300px
  border 2px solid red  

.pant-container
  height 75%
  width 25%
  display inline-block
  vertical-align top
  position relative

.pant-text
  width 100%
  position absolute
  bottom 0
  text-align: center 

// Sprites
// Homepage sprites
.apple-gs
  sprite($apple)

.cherry-gs
  sprite($cherry)

.electricity-gs
  sprite($electricity)

.nectarine-gs
  sprite($nectarine)

.plum_crazy-gs
  sprite($plum_crazy)

.powder-gs
  sprite($powder)

.proton_powder-gs
  sprite($proton_powder)  

.gray-gs
  sprite($gray)
  
// Shop Page Sprites
.apple-pant
  sprite($apple_individual)
  
.cherry-pant
  sprite($cherry_individual)
  
.electricity-pant
  sprite($proton_powder_individual)
  
.lemon-pant
  sprite($lemon_individual)
  
.nectarine-pant
  sprite($nectarine_individual)
  
.plum-crazy-pant
  sprite($plum_crazy_individual)

.powder-pant
  sprite($powder_individual)
  
.proton-powder-pant
  sprite($proton_powder_individual)
// End of Sprites

// Animation
.gallery-animate
  transition all cubic-bezier(1, .01, .33, 1) .5s
  opacity 0

.gallery-animate.displayed
  transition all cubic-bezier(1, .01, .57,1) 2s
  opacity 1

.fast-gray
  transition all cubic-bezier(.83, .04, .65, .93) .4s
  opacity 1

.fast-no-gray
  transition all cubic-bezier(.83, .04, .65, .93) .4s
  opacity 0
// End of animation
