// <link href='http://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>

@require 'nib'

// TODO: CDN Reset
// Meyer reset
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, img, var, b, i, center, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, nav, section, time, mark, audio, video
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  font inherit
  vertical-align baseline
 
body
  line-height 1
  
ol, ul
  list-style none
  
blockquote, q
  quotes none
  
blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

a:focus
  outline 0
table
  border-collapse collapse
  border-spacing 0
  
// End of reset



// Begin styles
html, body
  width 100%
  height 100%
  box-sizing border-box
  font-family 'Arial', sans-serif

*, *:before, *:after
  box-sizing inherit   

  
// All links
a:link, a:visited
 text-decoration none    

  
// Header container
header
  margin-top 3vw
  height 6.5 vh
  border-bottom 1vh solid black

  
// Nightwalker logo  
header img
  width 80vw
  margin-left 2vw

  
// Shopping cart
site-cart
  float right
  height 8vw
  width 8vw
  margin-right 3vw
  background rgba(20, 20, 255, .6)

site-cart .words
  text-align center
  line-height 8vw


// Nav
nav
  position absolute
  margin-top 1vw
  margin-left 2vw
  min-height 8vw

nav ul
  overflow hidden
  max-width 40vw
  max-height 50vw

nav ul.collapsed
  max-width 0
  transition max-width .2s

nav ul.height-collapse
  max-height 0  

// TODO: Figure out why max height is not animating
nav ul.horizontal
  display inline
  width 100vw
  max-height 50vh
  transition max-height 2s

nav li
  margin-top 1.25vw
  display inherit

nav li a
  text-transform uppercase
  font-weight 700
  font-size 7vw

nav li:nth-child(1) > a
  color rgb(255, 0, 255)

nav li:nth-child(2) > a
  color rgb(15, 108, 255)
  
nav li:nth-child(3) > a
  color rgb(59, 223, 9)


// Gallery Animation
img.gallery
  position absolute
  top 7.5vh
  left 0
  right 0
  width: auto
  height: 92.5vh
  margin 0 auto
  z-index -3
  opacity 1
  
img.gallery.next
  z-index -2    
  
img.gallery.fade
  z-index -2
  opacity 0
  transition opacity cubic-bezier(.25, .25, .75, .75) .5s

img.gallery.front
  z-index -1

// End of gallery animation
  
  
// Shop page
div.poster-container
  width 85%
  border 6px solid black
  
img.poster
  width inherit

div.pant-text a:link, div.pant-text a:visited
  text-transform uppercase
  font-weight 700
  color black
















  





// Cube
// .wrap 
//   perspective: 800px
//   //perspective-origin: 50% 50;

// .cart-cube
//   position relative
//   width: 200px
//   transform-style: preserve-3d;
//   animation spin 5s infinite linear

// .cart-cube div
//   position absolute
//   width 200px
//   height 200px
//   box-shadow inset 0 0 30px rgba(125,125,125,0.8)
//   text-align center
//   line-height 200px

// .back
//   transform translateZ(-100px) rotateY(180deg)
  
// .right
//   transform rotateY(-270deg) translateX(100px)
//   transform-origin top right;
  
// .left
//   transform rotateY(270deg) translateX(-100px)
//   transform-origin center left;
 
// .top
//   transform rotateX(-90deg) translateY(-100px)
//   transform-origin top center;

// .bottom
//   transform rotateX(90deg) translateY(100px)
//   transform-origin bottom center

// .front
//   transform translateZ(100px)

// div.words
//   box-shadow none 
//   text-shadow 2px 2px 3px rgb(255, 0, 0)
//   transform translateZ(-25px)

// @keyframes spin {
//   from {transform: rotateY(0);}
//   to {transform:rotateY(360deg)}
// }
//End of Cube
  