// <link href='http://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>

@require 'nib'

// TODO: CDN Reset
// Meyer reset
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, img, var, b, i, center, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, footer, header, nav, section, time, mark, audio, video
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  font inherit
  vertical-align baseline
 
body
  line-height 1
  
ol, ul
  list-style none
  
blockquote, q
  quotes none
  
blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

a:focus
  outline 0

table
  border-collapse collapse
  border-spacing 0
  
// End of reset



// Begin styles
// Custom directives
site-header, site-gallery, site-nav
  display block


// Globals  
html, body
  box-sizing border-box
  font-family 'Arial', sans-serif

*, *:before, *:after
  box-sizing inherit   
  outline none
  
.hidden
  display none !important

.clearfix:after
  content: ""
  display: table
  clear: both

  
// All links
a:link, a:visited
 text-decoration none    

  
// Header container
header
  height 6.5 vh
  margin-top .5vh  
  border-bottom 1vh solid black

      
// Header logo  
header img
  height 5.4vh
  margin-left 2vw

    
// Shopping cart
site-cart
  float right
  height 6vh
  width 8vw
  margin-right 3vw
  background rgba(20, 20, 255, .6)

site-cart .words
  text-align center
  line-height 6vh

#modal-cart
  position absolute
  left 0
  line-height 6vh
  width 100vw
  background rgba(111, 111, 111, 0.96)  

.checkout-options
  float left
  clear left

#close-cart
  position absolute
  bottom 0
  right 0
  color red

// Nav
nav  
  margin-top 1vh
  margin-left .25em
  min-height 8vh
  
nav.horizontal
  width: 100vw
  height 6vh
  min-height 0
  margin 0
  background black
  text-align justify
  
nav ul
  display inline
  width 100vw  
  max-width 40vw
  max-height 40vh
  overflow hidden  
  transition max-height 2s
  
nav ul.collapsed
  max-width 0
  transition max-width .2s

nav ul.height-collapse
  max-height 0  

nav.horizontal:after 
  content ""    
  width 97vw
  display inline-block

nav li
  display block
  margin-top 1vh
  
nav.horizontal li
  margin-top .5vh

nav li a
  padding 2vw
  text-transform uppercase
  font-weight 700
  font-size 7vw
  
nav li:nth-child(1) > a
  color rgb(255, 0, 255)

nav li:nth-child(2) > a
  color rgb(15, 108, 255)
  
nav li:nth-child(3) > a
  color rgb(59, 223, 9)

nav.horizontal li
  display inline-block

// End of Nav



// Main div
div.main
  position absolute
  height 93vh
  top 7vh
  left 0
  right 0
  z-index -1


// Gallery Animation
site-gallery
  position absolute
  width 100vw
  height 100%
  overflow hidden
  
img.gallery
  position absolute
  height: 100%  
  right -2em
  margin 0 auto  
  z-index -3
  opacity 1
    
img.gallery.next
  z-index -2    
  
img.gallery.fade
  z-index -2
  opacity 0
  transition opacity cubic-bezier(.25, .25, .75, .75) .5s

img.gallery.front
  z-index -1

// End of gallery animation

  
// Shop page
#collection-container
  margin-top 6vh
  text-align center
  
div.poster-container
  width 100vw
  height 90vh
  margin 0 auto
  border-bottom 3vw solid black

img.poster
  height 75vh

.poster-container .pant-flavor, .poster-container .pant-price
  text-transform uppercase
  font-weight 700
  color black

// End shop page


// Product page
#product-container
  margin-top 6vh
  text-align center

  // Product gallery
#individual-gallery
  position relative
  overflow hidden
  
#gallery-holder
  position relative
  width 400%  
  margin-bottom 6vh

.individual-main
  height 81vh
  float left

#view-picker  
  position absolute
  margin 0 auto
  left 0
  right 0
  bottom 0.5vh

.gallery-picker
  appearance none
  width 3.5vh
  height 3.5vh
  border-radius 50%
  color black
  background black
  border .5vh solid black
      
.gallery-picker:checked
  background red
  border .5vh solid blue

  // End of product gallery
.product-title
    font-weight 700

.product-price
  margin-top 2vh
  max-width 30%
  color red

#toggle-details
  margin-top 2vh

.left-ui
  position absolute
  left 10vw
  padding 0  

.right-ui
  position absolute
  right 8vw  
  
  // Buttons
.product-button
  border none
  background white
  padding 0
  z-index -1

  // End buttons
  
  // Item details  
#details
  position absolute
  text-align left
  width 100vw
  min-height 35vh
  z-index 5
  margin-top -7vh
  background rgba(111, 111, 111, 0.88)
  clear both
  display block
  
.detail-tab
  float left

.detail-tab label
  position relative
  margin-right 8vw
  color black

.detail-tab ul
  display none
  position absolute
  width 100vw
  left 0
  border-top .4vh solid white
  padding-top 1vh
  
[type=radio]:checked ~ label
  color white

[type=radio]:checked ~ label ~ ul
  display block
    
.detail-tab input
  display none
        
#product-column
  color white

#brand-column
  color gray

#care-column
  color black

#close-details
  position absolute
  bottom 0
  right 0
  color red
  
  // End of item details

#size-guide
  margin-top 7vh
  max-width 30%
  color blue

#sizemenu
  margin-top 7vh
  max-width 30%

  // Size Chart
#table-holder
  position absolute
  margin-top -7vh
  padding-bottom 4.5vh
  background rgba(111, 111, 111, 0.96)
    
table
  font-size 5vw
  border 1px solid black

caption
  text-align left
  
caption h1
  font-size 4.5vh
  font-weight 700

caption p
  padding-top 1.5vh
  padding-bottom .5vh
  font-size 3vh
  font-weight 400  
  
th, td
  border-collapse collapse
  
th
  font-weight 600
  border-right 2px solid black
  
td
  border 1px solid black  

#size-copy
  width 50%
  float left

  
#sizing-guide
  float right
  width 50%
  
  // End of Size Chart
  
#add-to-cart, #checkout-now
  margin-top 14vh
  margin-bottom 2vh

// End of product page

// Checkout page
#checkout-view
  margin-top 6vh
  
  
//

// About page
#about-container
  margin-top 6vh

// End of about page


// Contact page
#contact-container
  margin-top 6vh

// End of contact page


// < 3/2 Aspect ratio
@media screen and (max-aspect-ratio: 320/510)
  header
    height 6vh

  header img
    height 4.7vh
  










  





// Cube
// .wrap 
//   perspective: 800px
//   //perspective-origin: 50% 50;

// .cart-cube
//   position relative
//   width: 200px
//   transform-style: preserve-3d;
//   animation spin 5s infinite linear

// .cart-cube div
//   position absolute
//   width 200px
//   height 200px
//   box-shadow inset 0 0 30px rgba(125,125,125,0.8)
//   text-align center
//   line-height 200px

// .back
//   transform translateZ(-100px) rotateY(180deg)
  
// .right
//   transform rotateY(-270deg) translateX(100px)
//   transform-origin top right;
  
// .left
//   transform rotateY(270deg) translateX(-100px)
//   transform-origin center left;
 
// .top
//   transform rotateX(-90deg) translateY(-100px)
//   transform-origin top center;

// .bottom
//   transform rotateX(90deg) translateY(100px)
//   transform-origin bottom center

// .front
//   transform translateZ(100px)

// div.words
//   box-shadow none 
//   text-shadow 2px 2px 3px rgb(255, 0, 0)
//   transform translateZ(-25px)

// @keyframes spin {
//   from {transform: rotateY(0);}
//   to {transform:rotateY(360deg)}
// }
//End of Cube
  