<div id="about-container" class="about container">
  <p class="first">
    NightWalker is a clothing line dedicated to technology, fashion and the Retro-Future. As you probably can tell, we love color and the style of the 1980s.
  </p>
  <p>
    We also love hearing from our customers.
  </p>
  <p>
    If you have any questions or comments, please reach out and <a ng-href="/contact">contact us</a>
  </p>
  <p>
    <small class="closing">
      This web app was designed and developed by the same people that designed the First Flavors Collection itself. It was created using open source software. After every purchase, a donation is made to one of the following organizations behind that software:
    </small>
    <ul class="donation">
      <li><a href="https://www.gimp.org/">Gimp</a></li>
      <li><a href="https://www.inkscape.org/">Inkscape</a></li>
      <li><a href="https://www.fsf.org/">Free Software Foundation</a></li>
    </ul>
  </p>
  <img class="final-logo" src="images/symbol_logo.svg">
</div>

