<div class="get-info-container">
  <p class="account">
    Welcome {{user.firstName}} {{user.lastName}}
  </p>
  <p class="account">
    This is your account {{user.lastName}}
  </p>
  <p class="account">
    Your email is: {{user.email}}
  </p>

  <p class="account almost-last">
    If you have any questions please
  </p>

  <p class="account last">
    <a ng-href="/contact">contact us</a>
  </p>

  <button class="ui-button checkout-button proton" ng-click="goToCart()">View Your Cart</button>
  <button class="ui-button checkout-button electricity" ng-click="logout()">Logout</button>
</div>
