<div id="checkout-cart-container" class="checkout-cart-container">

  <div class="empty-holder" ng-show="!items.length">
    <p>
      You do not have any items in your cart
    </p>

    <button class="start-shopping" ng-click="goToShop()">
      Would you like to shop?
    </button>
  </div>

  <div class="checkout-cart" ng-show="items.length">
    <site-checkout-cart ng-show="items.length"></site-checkout-cart>

    <button class="ui-button" ng-show="items.length" ng-click="goToCheckout()">
      Proceed to checkout
    </button>
   </div>
  
</div>

