<div id="checkout-view" class="container">
  <!-- Show if there are not items in cart -->
  <div ng-show="!items">
    <p>
      You do not have any items in your cart. Would you like to <a ng-href="/shop">shop for some?</a>
    </p>
  </div>
  
  <!-- Show login options if not logged in -->
  <div ng-show="!user.loggedIn">
    <div>
      <p>
        You are checking out as a guest
      </p>
      <p>
        If you would like to create an account <a ng-href="/signup">sign up</a>
      </p>
      <p>
        Or if you already have an account <a ng-href="/login">log in</a>
      </p>
    <div>
    </div>
    
  <!-- Just show cart if logged in -->
  <div ng-show="user.loggedIn">
    <p>
      Welcome {{user.name}}. This is your cart
    </p>
  </div>
  
  <site-checkout-cart></site-checkout-cart>

  <!-- Address and payment form -->
  <div>
    <form stripe-form="process">
      <!-- Show the address form if not logged in-->
      <div>
        <p>
          Billing Address (must match your cart statement)
        </p>
        <label>Address<input type="text" ng-model="shippingDetails.address" ></input></label>
        <label>City<input type="text" ng-model="shippingDetails.city" ></input></label>
        <label>State<input type="text" ng-model="shippingDetails.state" ></input></label>
        <label>Zip<input type="text" ng-model="shippingDetails.zip" ></input></label>
        <label>Email<input type="email" ng-model="shippingDetails.email" ></input></label>
        <label>Telephone Number<input type="tel" ng-model="shippingDetails.telephone"></input><span class="form-optional">Optional</span></label> 
      </div>
      
      <!-- Check if the shipping address is the same -->
      <div>
        <p>
          Shipping Address
        </p>
        <label>Same as billing?<input type="checkbox" checked></input></label>
      </div>

      <!-- Financial Details -->
      <div>
        <p>
          Financial Information
        </p>
        <p class="payment-errors"></p>
        <div class="form-row">
          <label><span>Card Number</span></label>
          <input type="text" size="20" data-stripe="number">
        </div>
        <div class="form-row">
          <label><span>CVC</span></label>
          <input type="text" size="4" data-stripe="cvc">
        </div>
        <div class="form-row">
          <label><span>Expiration (MM/YYYY)</span></label>
          <input type="text" size="2" data-stripe="exp-month"><span> / </span>
          <input type="text" size="4" data-stripe="exp-year">
        </div>
      </div>
      
      <button type="submit">Submit Payment</button>
    </form>
  </div>
  
</div>

