<div id="checkout-view" class="container">
  <!-- Show if there are not items in cart -->
  <div ng-show="!items">
    <p>
      You do not have any items in your cart. Would you like to <a ng-href="/shop">shop for some?</a>
    </p>
  </div>

  <!-- Show login options if not logged in -->
  <div ng-show="!user.firstName">
    <div>
      <p>
        You are checking out as a guest
      </p>
      <p>
        If you would like to create an account <a ng-href="/signup">sign up</a>
      </p>
      <p>
        Or if you already have an account <a ng-href="/login">log in</a>
      </p>
    </div>
  </div>
    
  <!-- Welcome message if logged in -->
  <div ng-show="user.firstName">
    <p>
      Welcome {{user.name}}. This is your cart
    </p>
  </div>
  
  <site-checkout-cart></site-checkout-cart>

  <!-- Address and payment form -->
  <div>
    <form novalidate name="checkoutForm" stripe-form="process">
      <div>
        <div>
          <p>
            Shipping Details
          </p>

          <label>
            First Name
            <input type="text" ng-model="shippingDetails.firstName" required>
          </label>

          <label>
            Last Name
            <input type="text" ng-model="shippingDetails.lastName" required>
          </label>

          <label>
            Address
            <input type="text" ng-model="shippingDetails.address1" required>
          </label>

          <label>
            Address (continued)
            <input type="text" ng-model="shippingDetails.address2">
          </label>

          <label>
            City
            <input type="text" ng-model="shippingDetails.city" required>
          </label>

          <label>
            State
            <input type="text" ng-model="shippingDetails.state" required>
          </label>

          <label>
            Zip
            <input type="text" ng-model="shippingDetails.zip" required>
          </label>

          <label>
            Email
            <input type="email" ng-model="shippingDetails.email" required>
          </label>

          <label>
            Telephone Number
            <input type="tel" ng-model="shippingDetails.telephone">
            <span class="form-optional">Optional</span></label>

          <!-- Financial Details -->
          <p>
            Payment Details
          </p>

          <div class="form-row">
            <label>
              Card Number
              <input type="text" size="20" data-stripe="number" ng-model="shippingDetails.card" required>
            </label>
          </div>

          <div class="form-row">
            <label>
              CVC
              <input type="text" size="4" data-stripe="cvc" ng-model="shippingDetails.cvc" required>
            </label>
          </div>

          <div class="form-row">
            <label>
              Expiration (MM)
              <input type="text" size="2" data-stripe="exp-month" ng-model="shippingDetails.exprDay" required>
            </label>

            <label>
              (YYYY)
              <input type="text" size="4" data-stripe="exp-year" ng-model="shippingDetails.exprYear" required>
            </label>
          </div>

          <button type="submit" ng-disabled="checkoutForm.$invalid">Pay</button>

        </div>
      </div>
    </form>
  </div>
</div>
