<div id="contact-container" class="contact container">
  <p class="first">
    NightWalker will do whatever we can to make your buying experience great.
  </p>
  <p>
    You can reach us with any questions, comments or really anything else you would like to say.
  </p>
  <p>
    We can be reached by email or phone, and will be back in touch with you within six hours.
  </p>
  <p>
  Phone: <a href="tel:+1-484-424-9255">+1-484-424-9255</a>
  </p>
  <p class="before-logo">
    Email: <a href="mailto:paperwork@nightwalker.clothing" target="_top">contact@nightwalker.clothing</a>
  </p>
  <img class="final-logo" src="images/symbol_logo.svg">
</div>

