<!-- Show if the user is logging in -->
<div ng-show="showLogin" class="get-info-container">
  <form novalidate name="loginForm" ng-submit="submitUserDetails('/login', username, password)">
    <div>
      <label>
        <p>
          Email
        </p>
        <input class="email input" type="email" ng-model="username" name="username" required>
        <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine"><small class="warning">Your email is not valid</small></p>
      </label>
    </div>

    <div>
      <label>
        <p>
          Password
        </p>
        <input class="password input" type="password" ng-model="password" name="password" ng-minlength="3" required>
        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine"><small class="warning">Your password is required</small></p>
      </label>
    </div>

    <button class="ui-button login-button" type="submit" ng-disabled="loginForm.$invalid">Login</button>
  </form>

  <div class="go-to-other">
    <button class="ui-button" ng-click="changeScreen()">
      Need to sign up?
    </button>

    <button class="ui-button" ng-click="forgotRedirect()">
      Forgot Password
    </button>
  </div>

</div>


<!-- Show if the user is signing up -->
<div ng-show="!showLogin" class="get-info-container">
  <div class="pre-info">
    <p>
      Our sign up form is simple, and we will never spam you
    </p>
  </div>

  <form novalidate class="get-info" name="signupForm" ng-submit="submitUserDetails('create-account', email, password, firstName, lastName)">

    <div>
      <label>
        <p>
          First Name
        </p>
        <input class="firstname input" type="text" ng-model="firstName" name="firstName" required>
        <p ng-show="signupForm.firstName.$invalid && !signupForm.firstName.$pristine"><small class="warning">Your first name is required</small></p>
      </label>
    </div>

    <div>
      <label>
        <p>
          Last Name
        </p>
        <input class="lastname input" type="text" ng-model="lastName" name="lastName" required>
        <p ng-show="signupForm.lastName.$invalid && !signupForm.lastName.$pristine"><small class="warning">Your last name is required</small></p>
      </label>
    </div>

    <div>
      <label>
        <p>
          Email
        </p>
        <input class="email input" type="email" ng-model="email" name="email" required>
        <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine"><small class="warning">Your email is not valid</small></p>
      </label>
    </div>

    <div>
      <label>
        <p>
          Password <small>(Min length 3)</small>
        </p>
        <input class="password input" type="password" ng-model="password" ng-minlength="3" required>
        <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine"><small class="warning">A password is required</small></p>
      </label>
    </div>

    <button class="ui-button login-button" type="submit" ng-disabled="signupForm.$invalid">Submit</button>
  </form>

  <!-- Click to switch login / signup -->
  <button class="change-screen ui-button" ng-click="changeScreen()">
    Already have an account?
  </button>

</div>
