<div id="product-container">
  
  <img class="individual-main" ng-src="../images/individual/{{product.urlFlavor | underscoreFilter}}/{{product.urlFlavor}}-front.jpg" alt="NightWalker Clothing" title="Men's Chinos and clothing">

  <div class="product-title">
    {{product.shortDescription}}
  </div>
  
  <div class="product-price">
    {{product.price | currency}}
  </div>
  
  <div id="togggle-show" ng-click="toggleShow()">
    Item Details
  </div>

  <div id="details" class="hidden">
    <div id="product-tab">
       Product
       <ul>
         <li ng-repeat="detail in product.itemDetails">{{detail}}</li>
       </ul>
     </div>
  
     <div id="brand-tab">
       Brand
       <ul>
         <li>{{product.aboutSpecific}}</li>
       </ul>
     </div>
  
     <div id="care-tab">
       Care
       <ul>
          <li> {{product.careInstructions}}</li>
          <li> {{product.sizeGuide}}</li>
        </ul>
     </div>

  </div>


    <select id="sizemenu">
      <option ng-repeat="size in product.distinctSizes | orderBy: 'waistSize'"> {{size.waistSize}} x {{size.inseam}} </option>
    </select>
  
  <div id="size-guide">
    Size Guide
  </div>
  
  <button ng-click="addToCart(product.sku)">Add this product{{product.sku}}</button>
  
</div>

