<div id="product-container" class="product container">
  <div id="individual-gallery" class="individual-gallery">
    <div id="gallery-holder" class="gallery-holder" site-mouse-down="startScroll($event)" site-mouse-up="stopScroll()" site-mouse-move="scrollGallery($event)">
      <img class="individual-main" ng-src="../images/individual/{{product.safeFlavor | underscoreFilter}}/{{product.safeFlavor}}-front.jpg" alt="NightWalker Chino in {{product.flavor}}" title="NightWalker Chino in {{product.flavor}}">
      <img class="individual-main" ng-src="../images/individual/{{product.safeFlavor | underscoreFilter}}/{{product.safeFlavor}}-side.jpg" alt="NightWalker Chino in {{product.flavor}}" title="NightWalker Chino in {{product.flavor}}">
      <img class="individual-main" ng-src="../images/individual/{{product.safeFlavor | underscoreFilter}}/{{product.safeFlavor}}-detail.jpg" alt="NightWalker Chino in {{product.flavor}}" title="NightWalker Chino in {{product.flavor}}">
      <img class="individual-main" ng-src="../images/individual/{{product.safeFlavor | underscoreFilter}}/{{product.safeFlavor}}-back.jpg" alt="NightWalker Chino in {{product.flavor}}" title="NightWalker Chino in {{product.flavor}}">
    </div>

    <div id="view-picker" class="view-picker">
      <input id="front-view" class="gallery-picker" name="gallery-picker" type="radio" checked site-scroll-to></input>
      <input id="side-view" class="gallery-picker" name="gallery-picker" type="radio" site-scroll-to></input>
      <input id="detail-view" class="gallery-picker" name="gallery-picker" type="radio" site-scroll-to></input>
      <input id="back-view" class="gallery-picker" name="gallery-picker" type="radio" site-scroll-to></input>
    </div>
  </div>

  <div id="product-information">
    <h1 class="product-title">{{product.shortDescription}}</h1>

    <div class="price-details-select left-ui">
      <p class="product-price">{{product.currentPrice / 100 | currency}}</p>
      <button id="toggle-details" class="product-button" ng-click="toggleShow('#details')">Item Details</button>
    </div>

    <div class="size-select right-ui">
      <button id="size-guide" class="product-button size-guide" ng-click="toggleShow('#table-holder')">Size Guide</button>
      <select id="select-size" class="product-select" ng-model="pickedProduct.size" ng-change="changeSize()" ng-options="'' + productSize.waistSize + 'x' + productSize.inseam for productSize in product.distinctSizes | orderBy: 'waistSize'"></select>
      <button id="add-to-cart" class="product-button" ng-click="addToCart()">Add this product</button>
      <button id="checkout-now" class="product-button display-none" ng-click="goToCheckout()">Checkout now</button>
    </div>

    <div id="details" class="details display-none">
      <div id="product-column" class="detail-tab">
        <input type="radio" id="product-tab" name="tab-group-1" checked>
        <label for="product-tab">Product</label>
        <ul>
          <li ng-repeat="detail in product.details">{{detail}}</li>
        </ul>
      </div>

       <div id="care-column" class="detail-tab care">
         <input type="radio" id="care-tab" name="tab-group-1">
         <label for="care-tab" name="tab-group-1">Care</label>
         <ul>
          <li>{{product.careInstructions}}</li>
          <li>{{product.sizeGuide}}</li>
        </ul>
       </div>

       <button class="close" ng-click="toggleShow('#details')">X</button>
    </div>

    <site-size-guide></site-size-guide>
  </div>
</div>

