<div>
    The Pant you are viewing is currently the: {{product.flavor}} flavor
</div>

<div>
    It is from the {{product.edition}} edition
</div>

<div>
    DESCRIPTION: {{product.description}}
</div>

<div>
    DESCRIPTION: {{product.shortDescription}}
</div>

<ul>
    <li ng-repeat="(view, href) in product.images">{{view}}: {{href}}</li>
</ul>

<ul>
    <li ng-repeat="(size, measurement) in product.sizes">{{size}}: {{measurement}}</li>
</ul>

<ul>
    Item Details:
    <li ng-repeat="detail in product.itemDetails"> {{detail}}</li>
</ul>

<button ng-click="addToCart(product.sku)">Add this product{{product.sku}}</button>
