<!-- Show if the user needs to reset password -->
<div ng-show="!resetInProgress" class="get-info-container">
  <div class="pre-info">
    <p>
      Please enter your email address
    </p>

    <p>
      If an account with that email exists, we will send you password reset instructions
    </p>
  </div>

  <form novalidate class="get-info" name="resetPasswordForm" ng-submit="resetPassword(email)">

    <div>
      <label>
        <p>
          Email
        </p>
        <input class="one" type="email" ng-model="email" name="email" required>
        <p ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine">
          Your email is not valid
        </p>
      </label>
    </div>

    <button class="ui-button checkout-button" type="submit" ng-disabled="resetPasswordForm.$invalid">Submit</button>

  </form>
</div>

<!-- Show if the user is in the process of resetting password -->
<div ng-show="resetInProgress" class="get-info-container">
  <div class="pre-info">
    <p>
      Please enter your email address, the reset code that was mailed to you and your new password
   </p>
  </div>

  <form novalidate name="updatePasswordForm" ng-submit="updatePassword(email, resetCode, newPassword)">

    <div>
      <label>
        <p>
          Email
        </p>
        <input class="one" type="email" ng-model="email" name="email" required>
        <p ng-show="updatePasswordForm.email.$invalid && !updatePasswordForm.email.$pristine">
          Your email is not valid
        </p>
      </label>
    </div>

    <div>
      <label>
        <p>
          Reset Code
        </p>
        <input type="text" ng-model="resetCode" name="resetCode" required>
        <p ng-show="updatePasswordForm.resetCode.$invalid && !updatePasswordForm.resetCode.$pristine">
          Your reset code is required
        </p>
      </label>
    </div>

    <div>
      <label>
        <p>
          New Password <small>(Minimum length 3)</small>
        </p>
        <input class="two" type="password" ng-model="newPassword" name="newPassword" ng-minlength="3" required>
        <p ng-show="updatePasswordForm.email.$invalid && !updatePasswordForm.email.$pristine">Your new password is not valid</p>
      </label>
    </div>

    <button class="ui-button checkout-button" type="submit" ng-disabled="updatePasswordForm.$invalid">Change password</button>

  </form>

</div>
