<!-- Show if the user needs to reset password -->
<div ng-show="!resetInProgress" class="container">
  <div>
    Please enter your email address.  If there is an account, we will email you a reset code
  </div>

  <form novalidate name="resetPasswordForm" ng-submit="resetPassword(email)">
    <div>
      <label>
        Email
        <input type="email" ng-model="email" name="email" required>
        <p ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine">Your email is not valid</p>
      </label>
    </div>

    <button type="submit" ng-disabled="resetPasswordForm.$invalid">Login</button>

  </form>
</div>

<!-- Show if the user is in the process of resetting password -->
<div ng-show="resetInProgress" class="container">
  <div>
    Please enter your email address, the reset code that was mailed to you and your new password.
  </div>

  <form novalidate name="updatePasswordForm" ng-submit="updatePassword(email, resetCode, newPassword)">
    <div>
      <label>
        Email
        <input type="email" ng-model="email" name="email" required>
        <p ng-show="updatePasswordForm.email.$invalid && !updatePasswordForm.email.$pristine">Your email is not valid</p>
      </label>
    </div>

    <div>
      <label>
        Reset Code
        <input type="text" ng-model="resetCode" name="resetCode" required>
        <p ng-show="updatePasswordForm.resetCode.$invalid && !updatePasswordForm.resetCode.$pristine">Your reset code is required</p>
      </label>
    </div>

    <div>
      <label>
        New Password (Minimum length 3)
        <input type="password" ng-model="newPassword" name="newPassword" ng-minlength="3" required>
        <p ng-show="updatePasswordForm.email.$invalid && !updatePasswordForm.email.$pristine">Your new password is not valid</p>
      </label>
    </div>

    <button type="submit" ng-disabled="updatePasswordForm.$invalid">Login</button>

  </form>
</div>
