<div class="gallery-container">

  <div class="loading-container">
    <object type="image/svg+xml" data="images/loading.svg" class="loading-gallery rotate">
      Loading Logo
    </object>
    <p class="loading-gallery">
      Please wait, flavors are loading
    </p>
    <p class="loading-gallery mobile">
      To see all flavors please rotate your device
    </p>
  </div>

  <div ng-show="!imagesToLoad">
    <img ng-repeat="flavor in flavors" ng-attr-id="{{flavor}}" ng-src="images/front_gallery/{{flavor + '-gallery.jpg'}}" ng-class="{front:$first}" class="gallery" site-image-load load-success="loadSuccess()" load-error="loadError()">
  </div>

</div>
