<div id="collection-container" class="collection container">
  <div ng-repeat="flavor in edition.members.chinos.flavors" class="poster-container">
    <img ng-src="images/front_gallery/{{flavor | spacefilter}}-gallery.jpg" class="poster" alt="NightWalker Chino in {{flavor}}" title="NightWalker Chino in {{flavor}}">
    <a ng-href="/shop/first-flavors/{{flavor | spacefilter}}">
      <p class="pant-flavor">The flavor: {{flavor}}</p>
      <p class="pant-price">Price: {{edition.members.chinos.msrp / 100 | currency:"$"}}</p>
    </a>
  </div>
</div>
